{% load i18n %}
<div class="row row-deck row-cards">
    {% if object_list.count == 0 %}
        <p>{% trans "No projects found" %}</p>
    {% endif %}
    {% for project in object_list %}
        <div class="col-md-4">
            {% if project.url %}
                <a class="card card-link card-link-pop"
                   href="{{ project.url }}"
                   target="_blank">
                    <div class="card-body">
                        <h4>{{ project.name }}</h4>
                        <p>{{ project.short_description }}</p>
                        <div>
                            {% for t in project.tags.all %}
                                <div class="badge {% if t.dark_text %}text-black{% else %}text-white{% endif %} fs-5"
                                     style="background-color: #{{ t.color }}">{{ t }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </a>
            {% else %}
                <div class="card">
                    <div class="card-body">
                        <h4>{{ project.name }}</h4>
                        <p>{{ project.short_description }}</p>
                        <div>
                            {% for t in project.tags.all %}
                                <div class="badge text-white fs-5"
                                     style="background-color: #{{ t.color }}">{{ t }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
