{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container mt-2 mt-md-4">
        <form class="mb-2 mb-md-4">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floating-name"
                       placeholder=""
                       name="query"
                       autocomplete="off"
                       hx-target="#projects"
                       hx-get="{% url 'projects-query' %}"
                       hx-trigger="load, input, delay:200ms" />
                <label for="floating-name">{% trans "Search" %}</label>
            </div>
        </form>
        <div id="projects"></div>
    </div>
{% endblock %}
