{% load i18n static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Patrick Canal</title>
        <link rel="stylesheet" href="{% static 'tabler/tabler.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome-7/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script href="{% static 'tabler/tabler.min.css' %}"></script>
    </head>
    <body class="d-flex flex-column">
        <header class="navbar navbar-expand-md d-print-none">
            <div class="container-xl">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbar-menu"
                        aria-controls="navbar-menu"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">
                            <span class="nav-link-icon">
                                <i class="fa-solid fa-house"></i>
                            </span>
                            <span class="nav-link-title">Home</span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer class="footer">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="fs-3">
                        <p class="text-secondary">Copyright @ {% now "Y" %} Patrick Canal</p>
                        <p class="text-secondary">{% trans "Distributed as FOSS with GPLv3 license" %}</p>
                    </div>
                    <div class="fs-1">
                        <a href="mailto:me@patrickcanal.it">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/patrick-canal-7831252b7/"
                           target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/Superredstone" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
